:root {
    --background: hsl(96 12% 30%);
    --input-background: hsl(92 12% 24%);
    --font-primary: hsl(0 0% 100%);
    --font-secondary: hsl(96 7% 52%);
    --active-accent: hsl(52 49% 53%);
    --shadow-clear: hsl(93 4% 41%);
    --shadow-dark: hsl(93 14% 21%);

    --space-xs: 0.25rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 3rem;
    --space-xxl: 6rem;
}

.green-light-box {
    background: var(--background);
    color: var(--font-primary);
    border: 2px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
}

.green-light-box:active {
    background: var(--input-background);
    color: var(--font-secondary);
    border-color: var(--shadow-dark) var(--shadow-clear) var(--shadow-clear) var(--shadow-dark);
}

.green-dark-box {
    background-color: var(--input-background);
    color: var(--font-primary);
    border: 2px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
}

.green-dark-box:checked {
    color: var(--active-accent);
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
}

h1,
h2,
h3 {
    margin: 0;
}

html, body {
    block-size: 100%;
    inline-size: 100%;
    background: var(--background);
    color: var(--font-primary);
}

body {
    display: grid;
    grid-template-rows: 100%;
    box-sizing: border-box;
    margin: 0;

    /* cursor: url('path-to-image.png'), auto; */
    font-family: Consolas, system-ui, sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-md);
}

button {
    border-radius: 0;
    padding: var(--space-xs);
    cursor: pointer;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

button:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
}

section {
    flex: 1 0 auto;
    gap: var(--space-md);
    position: relative;
}

form {
    flex: 0 0 auto;
    display: grid;
    gap: var(--space-xs);
}

input {
    padding: var(--space-xs);
}

#chat-container {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    block-size: 100%;
    inline-size: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#chat-entry {
    list-style: none;
    padding-inline-start: var(--space-md);
    padding-block: var(--space-xs);
}

#chat-entry::before {
    content: '>';
    margin-inline-end: var(--space-xs);
}

#chat-entry:first-of-type {
    padding-block-end: var(--space-sm);
}

#chat-entry > span:first-of-type {
    font-weight: bold;
    margin-inline-end: var(--space-xs);
}

#chat-entry > span:first-of-type::after {
    content: ':';
}
